* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/***************************************************head 
******************************************************** */

.location ul li a {
    color: gray;
}


.boder1 {
    height: 30px;
    width: 30px;
    border: 7px solid #00D7FF;
    border-radius: 50%;
}

.boder2 {
    height: 17px;
    width: 16px;
    border: 5px solid red;
    border-radius: 50%;
}



.boder3 {
    height: 7px;
    width: 6px;
    border: 3px solid #00D7FF;
    border-radius: 50%;
}

.live {
    font-weight: 500;
    color: gray;
    font-size: 20px;

}

.search {
    font-size: 15px;
    color: gray;
}


/***************************************************banner 
******************************************************** */



.banner-img {
    background-image: url('../images/news-bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
}




/***************************************************top news 
******************************************************** */

.top-news-sec {
    background-color: #EEEEEE;
}

.bgcolor {
    background-color: #ffff;
    border-radius: 7px;
}




/***************************************************youtube
******************************************************** */

.boder {
    width: 120px;
    border-bottom: 3.5px solid #00D7FF;
}

.bg-you {
    background-color: rgb(182, 243, 243);
}


.youtube-news-img img {
    border-radius: 16px;
    margin-bottom: 8px;
}



/***************************************************national
******************************************************** */
.national-sec {
    background-color: #EEEEEE;
}


.boder4{
    width: 130px;
    border-bottom: 3.5px solid #00D7FF;
}


.boder5{
    width:200px;
    border-bottom: 3.5px solid #00D7FF;
}

.border-toop {
    border-top: 2px solid black;

}


.national-bg {
    position: relative;
   
}

.boder-national {
    border-right: 1px solid #188092;
}

.national-bg-mini {
    background-color: #00D7FF;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100%;
    height: 45px;
}

.minus-margin{
    margin-top: -15px;
}

.read-more{
    margin-top: -10px;
}




/***************************************************fotter
******************************************************** */

.fotter {
    background-color: #ada9a9;
    width: 100%;
    height: 100%;
}

.fotter1 {
    background-color: #188092;
    width: 100%;
    height: 16px;
}

.fotter-text span {
    display: block;
}